# /etc/aliases
mailer-daemon: postmaster
postmaster: root
nobody: root
hostmaster: root
usenet: root
news: root
webmaster: root
www: root
ftp: root
abuse: root
noc: root
security: root
# Send root to
root: {{ msmtp_msmtprc_default_account }}
# Send everything else
default: {{ msmtp_msmtprc_default_account }}
